!!!
html
  head
    title blah blah
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script
      var socket = io.connect();
      socket.on('news', function (data) {
        alert(data);
        socket.emit('msg', { blub: 'nana' });
      });
      socket.on('blah', function (data) {
        alert(data);
      });
  body!= body
